<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="container text-dark mt-5">
        <div class="row justify-content-md-center">
          <div class="col-md-5 p-3">
                <h1>My Google Login Project</h1>
                {% if user.is_authenticated %}
                <p>Welcome, {{ user.username }} !</p>
                {% else %}
                <h1>Welcome Friend, please log in</h1>
                {% endif %}
          </div>
        </div>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script type="text/javascript">
        let googleAuthUrl = 'https://accounts.google.com/o/oauth2/v2/auth';
        let redirectUri = 'auth/convert-token';


        let  scope = [
            'https://www.googleapis.com/auth/userinfo.email',
            'https://www.googleapis.com/auth/userinfo.profile'
        ].join(' ');

    const params = {
            response_type: 'code',
            client_id: '340105096765-0pvijjva78cnkcf1t0c9dn9i3r5oq17v.apps.googleusercontent.com',
            redirect_uri: `localhost:8000/${redirectUri}`,
            prompt: 'select_account',
            access_type: 'offline',
            scope
        };
        
        document.getElementById('socialloginbtn').addEventListener('click',async function(){
        const urlParams = new URLSearchParams(params).toString();
        window.location = `${googleAuthUrl}?${urlParams}`;
        })

    </script>
</body>
</html>